{% extends "main.html" %}


{% block css%}
<link href="/css/slider.css" rel="stylesheet">				
{% endblock %}

{% block body %}
<div class="col-sm-6 float-left">
<div class="card" >
  <div class="card-header">
    Configuration
	  
  <button class="btn btn-success float-right" id="saveConfig">Save Configuration</button>
  </div>
  <div class="card-body">
	  <form id="config">
			<p>
				<b>Fuzz (<span class="target">{{fuzz}}</span>)</b> <input
				type="z"
				class="slide"
				id="fuzz"
				name="fuzz"
				data-provide="slider"
				data-slider-ticks="[1, 100]"
				data-slider-ticks-labels='[1, 100]'
				data-slider-min="1"
				data-slider-max="100"
				data-slider-step="1"
				data-slider-value="{{fuzz}}"
				data-width="100"
								   data-slider-tooltip="always">
			</p>

			<p>
				<b>Saturation (<span class="target">{{saturation}}</span>)</b> <input
				type="z"
				class="slide"
				id="saturation"
				name="saturation"
				data-provide="slider"
				data-slider-ticks="[1, 300]"
				data-slider-ticks-labels='[1, 300]'
				data-slider-min="1"
				data-slider-max="300"
				data-slider-step="1"
				data-slider-value="{{saturation}}"
				data-slider-tooltip="always"
				data-width="100">
			</p>

			<p>
				<b>Brightness (<span class="target">{{brightness}}</span>)</b> <input
				type="z"
				class="slide"
				id="brightness"
				name="brightness"
				data-provide="slider"
				data-slider-ticks="[1, 300]"
				data-slider-ticks-labels='[1, 300]'
				data-slider-min="1"
				data-slider-max="300"
				data-slider-step="1"
				data-slider-value="{{brightness}}"
				data-slider-tooltip="always"
				data-width="100">
			</p>
		</form>
  </div>
</div>
</div>
<div class="col-sm-6 float-right">
<div class="card">
  <div class="card-header">
    	Test Photo <button class="btn btn-success float-right" id="testConfig">Test Configuration</button>
  </div>
  	<div class="card-body img-fluid">
	 	<img id="testOutput" src="test-output.jpg" class="img-fluid" />
	</div>
</div>
</div>
{% endblock %}

{% block script %}
<script src="/js/slider.js"></script>

<script type="text/javascript">
	<!--
		
		$("#testConfig").click("click", function() {
		
			var params = {
					fuzz: $("#fuzz").val(),
					saturation: $("#saturation").val(),
					brightness: $("#brightness").val()
				}
			
			$.post("/config/test", params).done(function(data) {
				$("#testOutput").attr("src", "").delay(1000).attr("src", "/test-output.jpg? "+ Math.floor(Math.random() * 999999999));;
			});
		});
	
	 $("#saveConfig").click("click", function() {
		
			var params = {
					fuzz: $("#fuzz").val(),
					saturation: $("#saturation").val(),
					brightness: $("#brightness").val()
				}
			
			$.post("/config/save", params).done(function(data) {
				alert("Saved config!");
			});
		});
	
	
	$(".slide").on("slide", function() {
		$(this).closest("p").find(".target").text($(this).val());
	});
	-->
</script>

{% endblock %}