{% extends "main.html" %}

{% block body %}

	<button class="btn btn-success takePhoto">Take Photo</button>
	
{% endblock %}

{% block script %}

	<script type="text/javascript">
		<!--
			$("body").css("background", "url('http://localhost:8080/?action=stream') no-repeat center center fixed");
			
			$(".takePhoto").on("click", function() {
				$.get("/takePic", function(data) {
					var file = data.img;
					bootbox.dialog({
						size: "large",
						title: 'Save this photo?',
						message: " ",
						buttons: {
							save: {
								label: "Yes",
								className: 'btn-danger',
								callback: function(){
									$.get("/save/" + file);
									
									window.location = "/pictures/";	
								}
							},
							cancel: {
								label: "Nope",
								className: 'btn-warning',
								callback: function(){
									$.get("/delete/:pic");
								}
							},
						}
					});
					
					$(".modal-body").html("<img class='img-fluid' src='/" + file +".jpg' />");
					
				});
			});
			
			
		-->
	</script>


{% endblock %}
